input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: #0159ae;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #0094d9;
}
.section_name {
    font-size: 30px;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

body{
    margin: 0;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    flex: 1;
    color: #000;
}
.columns{
    display: flex;
    flex:1;
}
.main{
    flex: 1;
    order: 2;
}
.sidebar-first{
    width: 20%;
    order: 1;
}
.sidebar-second{
    width: 20%;
    order: 3;
}