.qwe{
    font-family: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

.li1{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
}

header{
    background: pink;
    padding: 22px 0;
}

.header-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-container a{
    color: #FF0090;
    font-size: 20px;
    margin-right: 63px;
    padding: 27px 6px;
}
.header-container a:hover{
    background: #0094d9;
}
#menu-checkbox{
    display: none;
}

.main-menu{
    display: flex;
}

nav{
    margin-top: 40px;
}



.footer1{
    background: #414146;
    padding: 30px 0;
    color: white;
}
footer h4{
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-column-gap: 5%;
}
.about-us{
    overflow: hidden;
}
.about-us .images{
    float: left;
}
.about-us img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.about-us a{
    background: #000;
    color: white;
    font-size: 15px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-bottom: 2px solid #ffea00;
    display: inline-block;
}

.twitter{
    display: flex;
}

.tweets img{
    margin-top: 25px;
}
.twitter p{
    margin-top: 30px;
    margin-left: 10px ;
}
.tweets img{
    width: 70px;
}

.name{
    color: yellow;
}
.rest{
    background: #FF0090;
}
.contacts h4{
    margin-bottom: 20px;
}

.contacts ul{
    display: block;
}

.contacts li{
    font-size: 20px;
    margin-bottom: 20px;
}
.contacts a{
    background: #000;
    color: white;
    font-size: 15px;
    padding: 15px;
    margin-top: 350px;
    margin-left: 170px;
    border-bottom: 2px solid #ffea00;
    display: inline-block;
}